@import '../../variables';

.white {
  display: inline-block;

  width: 8px;
  height: 8px;

  background-color: #c4c4c4;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-size) {
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
  }

  &:not(:last-of-type) {
    margin-right: 8px;

    @media (min-width: $tablet-size) {
      margin-right: 20px;
    }
  }

  &Selected {
    background-color: #ffffff;
  }
}

.gray {
  display: inline-block;
  width: 8px;
  height: 8px;

  background-color: #6d6d6d;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-size) {
    width: 10px;
    height: 10px;
  }

  &:not(:last-of-type) {
    margin-right: 8px;
  }

  &Selected {
    background-color: #d5d5d5;
  }
}
