@import './variables';
@import './mixins';
@import './fonts';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background: #ec7f62;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.message {
  height: 15px;
  margin-bottom: 3px;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 12px;
}

.error {
  height: 15px;
  margin-bottom: 3px;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 12px;
  color: #eb4f4f;
}

.inputText {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;

  border: 1px solid #6d6d6d;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 14px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;

  font-family: 'SourceSansPro', sans-serif;
  background-color: #ffffff;

  @media (min-width: 462px) {
    padding-left: 84px;
    padding-right: 84px;
  }
}

.modalTitle {
  margin-bottom: 10px;

  font-size: 48px;
  font-weight: 600;
}

.modalText {
  max-width: 372px;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 16px;

  text-align: center;

  @media (min-width: $tablet-size) {
    font-size: 24px;
    line-height: 22px;
  }
}

// .carousel.carousel-slider {
//   min-height: 350px;
//   max-height: 470px;
// }

.rc-menu-item-active,
.rc-menu-submenu-active > .rc-menu-submenu-title,
.rc-menu-submenu-selected {
  background-color: transparent;
}

.rc-menu-item-selected {
  background-color: transparent;
}

.rc-menu-submenu-title {
  padding: 0 !important;
}

.rc-menu-submenu-title {
  padding-bottom: 3px;
  border-bottom: 1px solid #d5d5d5;

  font-family: 'Candara', sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: transparent !important;
}

.css-yk16xz-control {
  border: none !important;
  outline: none !important;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-yk16xz-control {
  border: none !important;
  box-shadow: none !important;
}

.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
