@import './variables';
@import './mixins';
@import './fonts';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background: #ec7f62;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.message {
  height: 15px;
  margin-bottom: 3px;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 12px;
}

.error {
  height: 15px;
  margin-bottom: 3px;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 12px;
  color: #eb4f4f;
}

.inputText {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;

  border: 1px solid #6d6d6d;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 14px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;

  font-family: 'SourceSansPro', sans-serif;
  background-color: #ffffff;

  @media (min-width: 462px) {
    padding-left: 84px;
    padding-right: 84px;
  }
}

.modalTitle {
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: 600;

  @media (min-width: $tablet-size) {
    font-size: 48px;
  }
}

.modalText {
  max-width: 372px;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 16px;

  text-align: center;

  @media (min-width: $tablet-size) {
    font-size: 24px;
    line-height: 22px;
  }
}

.slide {
  background: #ffffff !important;
}

.rec-item-wrapper {
  height: 100%;
}

.rc-menu-item-active,
.rc-menu-submenu-active > .rc-menu-submenu-title,
.rc-menu-submenu-selected {
  background-color: transparent;
}

.rc-menu-item-selected {
  background-color: transparent;
}

.rc-menu-submenu-title {
  padding: 0 !important;
}

.rc-menu-submenu-title {
  padding-bottom: 3px;
  border-bottom: 1px solid #d5d5d5;

  font-family: 'Candara', sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: transparent !important;
}

.react-dropdown-select-dropdown {
  border: 1px solid #d5d5d5 !important;
  border-radius: unset !important;
  box-shadow: none !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(236, 127, 98, 0.3);
}

.spinner {
  margin-bottom: 70px;

  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.WordSection1 {
  max-width: 625px;
  margin: 0 auto;
}

p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
  margin-top: 0in;
  margin-right: 0in;
  margin-bottom: 8pt;
  margin-left: 0in;
  line-height: 107%;
  font-size: 11pt;
  font-family: 'Calibri', sans-serif;
}

a.wordLink:link span {
  color: #0563c1 !important;
}

a.wordLink:link,
span.MsoHyperlink {
  color: #0563c1;
  text-decoration: underline;
}
.MsoChpDefault {
  font-family: 'Calibri', sans-serif;
}
.MsoPapDefault {
  margin-bottom: 8pt;
  line-height: 107%;
}
