@import '../../variables';

.footer {
  margin-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-top: 3px solid #ec7f62;

  @media (min-width: $tablet-size) {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  max-width: 815px;
  margin: 0 auto;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.phone {
  margin-bottom: 4px;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 14px;

  @media (min-width: $tablet-size) {
    margin-bottom: 10px;

    font-family: 'Candara', sans-serif;
    font-size: 30px;
  }
}

.callback {
  border-bottom: 1px solid #000000;

  font-family: 'Candara', sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  white-space: nowrap;

  @media (min-width: $tablet-size) {
    margin-bottom: 53px;

    font-size: 20px;
  }
}

.socialMenu {
  display: none;

  @media (min-width: $tablet-size) {
    display: flex;

    align-self: center;
  }
}

.socialIcon {
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-size: 30px 30px;

  &:nth-of-type(1) {
    background-image: url('../../assets/images/instagramIcon.svg');
  }

  &:nth-of-type(2) {
    background-image: url('../../assets/images/telegramIcon.svg');
  }
  &:nth-of-type(3) {
    background-image: url('../../assets/images/whatsappIcon.svg');
  }

  &:not(:last-of-type) {
    margin-right: 45px;
  }
}

.menu {
  display: grid;
  grid-template-areas:
    'a b'
    'c d';
  column-gap: 6px;
  row-gap: 5px;

  @media (min-width: $tablet-size) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.menuItem {
  &:nth-of-type(1) {
    grid-area: a;
  }

  &:nth-of-type(2) {
    grid-area: c;
  }

  &:nth-of-type(3) {
    grid-area: d;

    text-align: right;
  }

  &:nth-of-type(4) {
    grid-area: b;
  }
}

.menuLink {
  font-family: 'Candara', sans-serif;
  font-size: 12px;
  color: #000000;
  white-space: nowrap;

  @media (min-width: $tablet-size) {
    font-size: 24px;
  }
}
