.container {
  display: flex;
  justify-content: center;

  padding-top: 7%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  align-self: flex-start;

  height: 15px;
  margin-bottom: 3px;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 12px;
}

.error {
  color: #eb4f4f;
}

.title {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid #ec7f62;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.input {
  width: 250px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  border: 1px solid #6d6d6d;

  font-family: 'SourceSansPro', sans-serif;
  font-size: 14px;
}

.loginButton {
  width: 120px;
  height: 37px;

  font-family: 'SourceSanPro', sans-serif;
  font-size: 14px;
}
