.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: unset;

    padding-right: 80px;
  }
}

.tabList {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 210px;
  width: 100%;
  padding-top: 49px;

  background-color: #eeeeee;

  @media (min-width: 768px) {
    width: 19%;
    margin-right: 80px;
  }
}

.tab {
  margin-bottom: 30px;

  &Selected button {
    color: #ffffff;
    background-color: #f9a690;
    border: 1px solid #f9a690;
    transition: all 0.2s;
  }
}

.tabButton {
  width: 160px;
  height: 50px;
  padding-left: 20px;

  font-family: 'SourceSansPro', sans-serif;
  justify-content: flex-start;
}

.panelWrapper {
  width: 70%;
  height: 85vh;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-right: 31px;
  padding-left: 5%;
  border: 2px solid #e5e5e5;

  overflow-x: auto;
}
